<footer class="footer">
    <div class="footer__logo">
        <a [routerLink]="['/home']" routerLinkActive="active" title="logo">
          <img src="assets/icons/logo.svg" alt="logo">
        </a>
    </div>
    <div class="footer__contact">
        <div class="social">
            <a href="https://www.instagram.com/vilcommx/" target="_blank">
                <img src='assets/icons/instagram.svg' alt='instagram'>
            </a>
            <a href="https://www.facebook.com/VilcomMx" target="_blank">
                <img src='assets/icons/facebook.svg' alt='facebook'>
            </a>
        </div>
        <a href="tel:3333596268">33 3359 6268</a>
    </div>
</footer>
