*:focus {
    outline: none;
}

.remove {
	margin: 0 !important;
	padding: 0 !important;
}

.full {
    @include media(small) {
        display: none;
    }
}

.resBlock {
    display: none;
    @include media(small) {
        display: block;
    }
}

.resFlex {
    display: none;
    @include media(small) {
        display: flex;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

button {
    border-radius: $button-border-radius;
    padding: $button-padding;
    background: transparent;
    border: none;
    text-decoration: none !important;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
        @include transition(.3s);
    }
    &.primary {
        background: $color-primary;
        color: $color-text-light;
        &:hover {
            background: $color-primary-hover;
        }
    }
    &.secondary {
        color: $color-text;
        &:hover {
            background: $color-divider;
        }
    }
    &.bordered {
        border: 1px solid $color-primary;
        color: $color-primary;
        &:hover {
            background: $color-primary;
            color: $color-text-light;
        }
    }
}