*:focus {
    outline: none;
}

.remove {
	margin: 0 !important;
	padding: 0 !important;
}

.full {
    @include media(small) {
        display: none;
    }
}

.resBlock {
    display: none;
    @include media(small) {
        display: block;
    }
}

.resFlex {
    display: none;
    @include media(small) {
        display: flex;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none !important;

    &.primary, &.secondary, &.bordered {
        border-radius: 0.5rem;
        padding: 0.5rem 2rem;;
        font-weight: bolder;
        &:disabled, &:disabled:hover {
            background: lightgray;
            color: darkgrey;
            cursor: not-allowed;
        }
    }
    &:hover {
        @include transition(.3s);
    }
    &.primary {
        background: $color-primary;
        color: $color-text-light;
        &:hover {
            background: $color-primary-hover;
        }
    }
    &.secondary {
        color: $color-text;
        &:hover {
            background: $color-divider;
        }
    }
    &.bordered {
        border: 1px solid $color-primary;
        color: $color-primary;
        &:hover {
            background: $color-primary;
            color: $color-text-light;
        }
    }
}

.modal {

    .modal-dialog {

        .modal-content {
            border-radius: 0.5rem;
            border: none;

            .modal-body {
                text-align: center;

                .btn-close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
                .modal-title {
                    margin: 0 25px 1rem;
                }
                .modal-message {

                }
                .modal-buttons {

                    .button {

                    }
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: $color-primary;
    &:hover {
        color: $color-primary-hover;
    }
}