.reminder-input {
    background: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 5px 10px -2px #cecece, 0 0 3px 0px #cecece;
    padding: 10px;
    border: none;
    width: 5rem;
    color: #1F5A76;
}